@import "../variables/base";
.input-group .ui-autocomplete {
  width: 100% !important;
  max-width: 100% !important;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 100px;
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  max-height: 250px;
  overflow-y: auto;
  _width: 100%;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 0px;
  *border-bottom-width: 1px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}

.ui-menu {
  .ui-menu-item {
    padding: 3px 5px;
    width: 100%;
    margin: 0px !important;
    border: 0px;
    &:hover {
      border: 0px;
      margin: 0px !important;
    }
  }
  .ui-state-hover, .ui-state-active, .ui-state-focus {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #5897fb !important;
    @include border-radius(0px);
    background-image: none;
  }
}

.multiselect-container li a:hover {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #5897fb !important;
  @include border-radius(0px);
  background-image: none;
}


.select2-container--default {
  .select2-selection--single {
    border: 0px !important;
    height: 22px !important;
    line-height: 22px !important;
    .select2-selection__rendered {
      line-height: 24px !important;
    }
  }
  .select2-selection--multiple {
    border: 0px !important;
    .select2-selection__rendered .select2-selection__choice {
      padding: 0px 7px 0px 18px;
      margin: 2px 0 2px 5px;
      color: #555555;
      background: #f5f5f5;
      border-color: #e5e5e5;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 12px;
    }
  }
  .select2-selection--single .select2-selection__arrow {
    height: 24px !important;
    top: 0px;
  }
}



.multiselect-container > li > a > label > input[type="checkbox"] {
  opacity: 1 !important;
}

.#{$prefix}multiselect .multiselect-selected-text {
  width: 92%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.multiselect-container {
  margin: 0 5px;
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #aaa;
  border-top: 0px;
  white-space: inherit;
  width: calc(100% - 10px);
  min-width: inherit;
  li a {
    white-space: inherit;
  }
}

.select2-container--open .select2-dropdown {
  left: -1px;
}

.#{$prefix}multiselect {
  .caret {
    float: right;
    margin-top: 10px;
    color: #888;
  }
  .dropdown-menu > .active > a {
    color: #fff;
    text-decoration: none;
    background-color: #7cb0ff;
    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      background-color: #7cb0ff;
    }
  }
}

select.select2 + .select2-container--open {
  border: 1px solid #d2d2d2;
}

.select2-container--open {
  border-bottom: 0px;
  border-top: 0px;
  z-index: 9999;
}

.select2-selection__clear {
  opacity: 0;
}

.select2-container:hover .select2-selection__clear {
  opacity: 0.6;
}

/* For Version 4.0.4----*/

select.form-control + .select2 {
  width: 100% !important;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}

.input-group .unit {
  font-size: inherit !important;
}

/*===Wrapped Multi-select===*/
.wrapped-multiselect+.select2{
    overflow: auto;
    .select2-selection--multiple{
      min-height: 22px;
      height: 22px;
      overflow: auto;
      text-overflow: ellipsis;
      ul{
        display: inline-block;
        white-space:nowrap;
        li{
          display: inline-block;
          white-space: nowrap;
        }
        .select2-selection__choice{
          overflow: hidden;
          border: 0px;
          text-overflow: ellipsis;
          padding:0px 2px 0px 5px !important;
        }
        .select2-search--inline .select2-search__field{
          margin:0px !important;
        }
      }
    }
}