.#{$mdi-css-prefix}-lg {
  font-size: 1.5em;
  line-height: .5em;
  vertical-align: -35%;
}
.#{$mdi-css-prefix}-2x {
  font-size: 2em;
}
.#{$mdi-css-prefix}-3x {
  font-size: 3em;
}
.#{$mdi-css-prefix}-4x {
  font-size: 4em;
}
.#{$mdi-css-prefix}-5x {
  font-size: 5em;
}