@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Regular.eot?v=1.1.0");
  src: url("../../fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../../fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../../fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../../fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "../bootstrap";
@import "../component/components";
@import "../grid/grid";
@import "../icons/icons";
@import "../page/page";
@import "../pvfp";
@import "../dashboard/widget";
