.login-background {
     padding-top: 4rem;
     padding-bottom: 4rem;
     background-color: #f7f7f7;
     border: 1px solid grey;
     border-radius: 1rem;
}

.heading-1 {
     font-size: 2rem;
     margin: 2rem;
     padding: 2.5rem;
}

.input-class{
     padding-top: 1rem;
     width: 100%;
}

.ls-input{
     width: 100%;
     border: 2px tan;
     border-radius: 10px;
     height: 3rem;
}

.submit-button{
     padding-top: 2rem;
     padding-bottom: 1rem;
}

.sign-up-button{
     padding-top: 1rem;
}

.login-btn{
     background-color: #6675df;
     font-weight: bold;
}

.full-lentgh {
     width: 100%;
     border-radius: 10px;
}

.pull-centre{
     padding-left: 50%;
     padding-right: 50%;
}