<div class="row">
  <app-ls-public-dashboard class="col-sm-7"></app-ls-public-dashboard>
  <div class="col-sm-5 login-background pull-right">
    <span class="heading-1">
        Forget Password
    </span>

    <div class="col-md-12">
        <div class="input-class">
            <input class="ls-input" type="text" placeholder="    Email" [(ngModel)]="email" [disabled]="isValidUserName">
        </div>

        <div class="input-class" *ngIf="isValidUserName">
          <input class="ls-input" type="password"  placeholder="    Password" [(ngModel)]="password">
        </div>

        <div class="input-class" *ngIf="isValidUserName">
          <input class="ls-input" type="password" placeholder="    Confirm Password" [(ngModel)]="confirmPassword">
        </div>
        

        <div class="submit-button">
            <button *ngIf="!isValidUserName" class="btn btn-success login-btn full-lentgh" (click)="onEmailSubmit()">
                Send Link
            </button>
            <button *ngIf="isValidUserName" class="btn btn-success login-btn full-lentgh" (click)="resetPassword()">
              Reset Passwird
          </button>
        </div>
        <div class="pull-centre">
            or
        </div>

        <div class="sign-up-button">
            <button class="btn btn-outline-success full-lentgh" (click)="navigateToLoginPage()">
                Login Here
            </button>
        </div>
    </div>
  </div>
</div>