<div class="app" dir="ltr" [ngClass]="themeSkinColor" [class.customizer-in]="customizerIn" [class.sidebar-closed]="sidebarClosed">
    <ng-sidebar-container>
        <div ng-sidebar-content>
            <ng-sidebar #sidenav [(opened)]="_opened" [(mode)]="_mode">
                <div class="sidebar-panel pv-sidenav">
                    <div class="sidebar-logo-wrap">
                        <div class="sidebar-logo d-flex">
                            <div class="logo-text mr-2 ml-2 align-self-center">
                                <img src="assets/img/linkSharingLogo.png" width="104">
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-container">
                        <div class="sidenav-scrollbar-container">
                            <nav menuToggleDirective class="navigation">
                                <ul class="pv-nav">
                                    <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getAll()">
                                        <a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                                            <i class="{{ menuitem.icon }}"></i>
                                            <p class="text-nowrap mb-0">
                                                <span>{{menuitem.name}}</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </ng-sidebar>
            <section class="main-contents">
                <header class="main-header">
                    <div class="d-flex justify-content-between align-items-center pv-header-toolbar w-100">
                        <div class="h-100 d-flex align-items-center col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                            <div class="h-100 d-flex justify-content-start align-items-center">
                                <div class="h-100 pv-ham-icon">
                                    <button class="c-hamburger c-hamburger--rot" (click)="_toggleOpened()">
                           <span tourAnchor="start.tour">toggle menu</span>
                           </button>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-end pr-0 col-sm-6 col-md-6 col-lg-6">
                            <div class="d-flex secondary-menu justify-content-end align-items-center">
                                <ul class="nav secondary-menu-list d-flex justify-content-end align-items-center" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li tourAnchor="tour-full-screen" class="d-none-sm fullscreen-toggle" (click)="toggleFullscreen()">
                                        <a href="javascript:void(0)" class="zoom-out">
                                            <i class="md md-fullscreen" *ngIf="!isFullscreen"></i>
                                            <i class="md md-fullscreen-exit" *ngIf="isFullscreen"></i>
                                        </a>
                                    </li>
                                    <li class="d-none-sm dropdown">
                                        <a href="javascript:void(0)" id="navbarDropdownMenu" class="faa-parent animated-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="md md-bell faa-slow faa-ring"></i>
                                            <span class="fa fa-circle fa-notify text-success dot-note"></span>
                                        </a>
                                        <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMenu">
                                            <div class="dropdown-header bg-success d-flex justify-content-between"><span class="align-self-center">12 Pending notifications</span><a href="javascript:void(0)" class="align-self-center">View All</a></div>
                                            <a class="dropdown-item  d-flex pt-3" href="javascript:void(0)">
                                                <div class="icon-area  align-self-start">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">You have 16 New messages</span>
                                                    <small>12 min ago</small>
                                                </div>
                                            </a>
                                            <a class="dropdown-item  d-flex" href="javascript:void(0)">
                                                <div class="icon-area align-self-start">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Server reboot scheduled</span>
                                                    <small>12 min ago</small>
                                                </div>
                                            </a>
                                            <a class="dropdown-item  d-flex pb-3" href="javascript:void(0)">
                                                <div class="icon-area align-self-start">
                                                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Revenue raised by 67%</span>
                                                    <small>12 min ago</small>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="d-none-sm dropdown">
                                        <a href="javascript:void(0)" class="open-box" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="md md-email-outline msg-close"></i><i class="md fa-envelope-open-o md-email-open-outline"></i>
                                            <span class="fa fa-circle fa-notify dot-note text-danger"></span>
                                        </a>
                                        <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMen">
                                            <div class="dropdown-header bg-warning d-flex justify-content-between"><span class="align-self-center">15 total messages</span><a href="javascript:void(0)" class="align-self-center">View All</a></div>
                                            <a class="dropdown-item  d-flex pt-3" href="javascript:void(0)">
                                                <div class="icon-area  align-self-start">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Inbox Box 1</span>
                                                    <small>15 new messages</small>
                                                </div>
                                            </a>
                                            <a class="dropdown-item  d-flex" href="javascript:void(0)">
                                                <div class="icon-area  align-self-start">
                                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Promotion messages</span>
                                                    <small>5 messages</small>
                                                </div>
                                            </a>
                                            <a class="dropdown-item  d-flex" href="javascript:void(0)">
                                                <div class="icon-area align-self-start">
                                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Spam message</span>
                                                    <small>12 min ago</small>
                                                </div>
                                            </a>
                                            <a class="dropdown-item  d-flex pb-3" href="javascript:void(0)">
                                                <div class="icon-area align-self-start">
                                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">Social Media</span>
                                                    <small>34 new messages</small>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="relative rounded-bg" href="javascript:void(0)" id="navbarDropdownMenuLin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img class="rounded-circle" src="assets/img/user-3.jpg" alt="User-image" width="43" height="43">
                                            <div class="online-caret bg-success circle"><i class="fa fa-caret-down"></i></div>
                                        </a>
                                        <div class="dropdown-menu rounded-0 dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLin">
                                            <div class="text-center text-primary"><small>Welcome Saurabh Kumar!</small></div>
                                            <a class="dropdown-item  d-flex pt-3" routerLink="/user-pages/userprofile">
                                                <div class="icon-area  align-self-start">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">My Profile</span>
                                                </div>
                                            </a>

                                            <a class="dropdown-item  d-flex pb-2" routerLink="/session/loginone">
                                                <div class="icon-area align-self-start">
                                                    <i class="fa fa-power-off"></i>
                                                </div>
                                                <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block "><a class="nav-item nav-link">Logout</a></span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="pv-base-container" #scrollContainer>
                    <div class="justify-content-between align-items-center page-info d-none-sm" [hidden]="!currentUser">
                        <span class="navbar-brand">{{header}}</span>
                        <div class="col-md-5 pull-right" *ngIf="showmarker">
                        </div>
                    </div>
                    <div class="inner-container">
                        <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
                    </div>
                </div>
            </section>
        </div>
    </ng-sidebar-container>
</div>
